<div class="container">
    <h2 class="text-center">Search Repo by Repo Name</h2>
    <form #repoForm='ngForm'>
          <div class="form-group">
            <label for="name">Enter Repo Owner Name</label>
            <input type="text" required class="form-control" id="repoOwnerName"  [(ngModel)]="newRepoForm.repoOwnerName" name="repoOwnerName">
            <label for="name">Enter Repo Name</label>
            <input type="text" required class="form-control" id="repoName"  [(ngModel)]="newRepoForm.repoName" name="repoName">
            <br>
            <button class="btn btn-info  btn-sm" (click) = "onSearch()"> Search</button>
        </div>
    </form>
    <div class="search-form">
        <p>{{repo.name}}</p>
        <p>{{repo.description}}</p>
    </div>
</div>
   