<div class="container">
    <h2 class="text-center">Create a new Goal</h2>
    <form #userForm='ngForm'>
          <div class="form-group">
            <label for="name">Enter User Name</label>
            <input type="text" required class="form-control" id="userName"  [(ngModel)]="newUser.userName" name="userName">
            <br>
            <button class="btn btn-info  btn-sm" (click) = "onSearch()"> Search</button>
        </div>
    </form>
    <div>
      <div class="search-form" *ngFor='let repo of repos;let i = index'>
        <p>{{repo.name}}</p>
      </div>
    </div>
  </div>
