<div class= "container"> 
        <div class="overlay">
                <div>
                        <img src="{{myProfile.avatarUrl}}" alt= "A photo of Nancy" height="250x" width="250px" class="center" />
                        <div class="name">{{myProfile.userName}}</div>
                </div>
        </div>
        <div>
                <div class="card" *ngFor='let repo of repos;let i = index'>
                        <p class="reponame">Repo Name: {{repo.name}} </p>
                        <p class="description">Description: {{repo.description}} </p>

                </div>
        </div>
</div>

