<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=   , initial-scale=1.0">
    <title>Portfolio landing Page</title>
</head>
<body>
    <div>
    <!-- <h1 class="heading">Welcome to my <strong> Portfolio Page</strong>!</h1> -->
    <img src="photos/nancy.jpg" alt= "A photo of Nancy" height="250x" width="200px" class="center" />
    <p class="name">Nancy Ndung'u</p>
    <p class="career" >Software Engineer</p>
    </div>
    <div class="important">
    <div> 
        <h3>Here is the list of my repositories </h3>
        <ul> 
            <li>My First Websites</li>
            <li>covid-19-challenge </li>
            <li>cookie-recipe</li>
            <li>hello-world</li>
            <li>my-first-website </li>
            <li>independent-project</li>
            <li>akhagenerate </li>
            <li>delani-studio </li>
            <li>pizza-place</li>
            <li>goal-app </li>
            <li>quote </li>
           
        </ul>
    </div> 
    